html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

div#all {
    width: 100%;
    height: 100%;
    display: flex;
}

div#menu {
    width: 10%;
    height: 100%;
    background-color: gray;
}

div#workspace {
    width: 90%;
    height: 100%;
}

.block {
    position: absolute;
    cursor: move;
    color: white;
    text-align: center;
    background-color: blue;
}