html,
body {
    margin: 0;
    padding: 0;
}

canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

div#console {
    position: absolute;
    background-color: #40475E;
    color: white;
    right: 0;
    bottom: 0;
    width: calc(100% - 190px);
    height: 200px;
    resize: vertical;
    overflow: hidden;
    transform: rotate(180deg);
}

div#console-content {
    transform: rotate(180deg);
    width: 100%;
    height: 100%;
    padding: 1em;
    overflow-y: scroll;
    box-sizing: border-box;
}

div#console-content label {
    font-family:
        'Noto Sans Mono CJK JP',
        'Source Han Code JP',
        Consolas,
        monospace;
}

div#popup-menu {
    display: none;
    position: fixed;
    width: auto;
    height: auto;
    border: 1px solid;
    background-color: white;
    text-align: center;
}

ul#popup-menu-items li {
    text-align: center;
    list-style-type: none;
}

label:focus {
    outline: none;
}

img {
    display: none;
}

span.exception {
    color: red;
}