html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

div#all {
    width: 100%;
    height: 95%;
    display: flex;
}

div#menu {
    width: 10%;
    height: 60%;
    background-color: gray;
}

div#workspace {
    width: 90%;
    height: 100%;
}

.block {
    position: absolute;
    cursor: move;
    background-color: royalblue;
    // テスト時に見やすくするため仮の枠線追加
    border-color: darkslategray;
    border-style: solid;
    border-width: 1.5px;
}

.menublock1 {
    text-align:center;
    width: 100px;
    height: 26px;
    padding:12px 0;
    background-color: royalblue;
    // テスト時に見やすくするため仮の枠線追加
    border-color: darkslategray;
    border-style: solid;
    border-width: 1.5px;
}

.menublock2 {
    text-align:center;
    width: 100px;
    height: 26px;
    padding:12px 0;
    background-color: steelblue;
    // テスト時に見やすくするため仮の枠線追加
    border-color: darkslategray;
    border-style: solid;
    border-width: 1.5px;
}

.menublock3 {
    text-align:center;
    width: 100px;
    height: 26px;
    padding:12px 0;
    background-color: darkblue;
    // テスト時に見やすくするため仮の枠線追加
    border-color: darkslategray;
    border-style: solid;
    border-width: 1.5px;
}

.menublock4 {
    text-align:center;
    width: 100px;
    height: 26px;
    padding:12px 0;
    background-color: darkslateblue;
    // テスト時に見やすくするため仮の枠線追加
    border-color: darkslategray;
    border-style: solid;
    border-width: 1.5px;
}

.menublock5 {
    text-align:center;
    width: 100px;
    height: 46px;
    padding: 2px 0px;
    background-color: mediumaquamarine;
    // テスト時に見やすくするため仮の枠線追加
    border-color: darkslategray;
    border-style: solid;
    border-width: 1.5px;
}
