html,

header {
    position: absolute;
    background-color: white;
    left: 0;
    top: 0;
    width: 100vw;
    height: 40.3px;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

header img {
    position: flex;
    margin-left: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30.3px;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div#pyramid-wrapper {
    position: fixed;
    display: flex;
    top: 40.3px;
    width: 100%;
    height: 100%;
}

div#tutorial {
    position: relative;
    width: 40%;
    height: 100vh;
}

div#playground {
    position: relative;
    width: 60%;
    height: 100vh;
}

div#workspace {
    position: absolute;
    background-color: #f6f6f6;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

pyramid-symbol-block {
    border: solid 3px red;
    box-sizing: border-box;
}

.pyramid-block,
.pyramid-menublock {
    position: absolute;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    user-select: none;
}

.pyramid-menutab {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    user-select: none;
}

.pyramid-block-disable {
    display: none;
}

.pyramid-block-folding {
    border: thick double red;
    box-sizing: border-box;
}

.pyramid-block-variable {
    border: dotted 4px red;
    box-sizing: border-box;
}

div#menu {
    position: absolute;
    border-right: solid 1px;
    border-left: solid 1px;
    border-color: gray;
    width: 190px;
    height: 100vh;
}

div#menu-tab {
    position: absolute;
    background-color: lightgray;
    left: 0;
    top: 0;
    width: 70px;
    height: 100vh;
}

div#menu-items {
    position: absolute;
    background-color: lightgray;
    left: 70px;
    top: 0;
    width: calc(190px - 70px);
    height: 100vh;
    border-left: dashed 1px;
    border-color: gray;
}

div#console {
    position: absolute;
    background-color: #40475E;
    color: white;
    right: 0;
    bottom: 0;
    width: calc(100% - 190px);
    height: 200px;
    resize: vertical;
    overflow: hidden;
    transform: rotate(180deg);
}

div#console-content {
    transform: rotate(180deg);
    width: 100%;
    height: 100%;
    padding: 1em;
    overflow-y: scroll;
    box-sizing: border-box;
}

div#console-content label {
    font-family:
        'Noto Sans Mono CJK JP',
        'Source Han Code JP',
        Consolas,
        monospace;
}

div#popup-menu {
    display: none;
    position: fixed;
    width: auto;
    height: auto;
    background-color: lightblue;
    text-align: center;
}

div#popup-menu ul {
    margin: 5px;
    padding: 0;
}

li.popup-menu-item {
    background-color: lightblue;
    margin: 1px;
    padding: 1px 5px;
    list-style-type: none;
    cursor: pointer;
}

li.popup-menu-item:hover {
    background-color: lightcyan;
}

#popup-menu-edit {
    width: 10em;
    height: 2em;
}

label:focus {
    outline: none;
}

span.exception {
    color: red;
}